
/*Start Blog Styling */
 
.owl-theme .owl-dots .owl-dot span {
    width: 15px !important;
    height: 15px !important;
    margin: 5px 7px !important;
    background: #b6b6b6!important;   
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #29AAE3 !important;
}
 




/* END Blog Styling */



/* Footer  Styling */          /* Footer  Styling */         /* Footer  Styling */


a {
    text-decoration: none;
    color: #fff;
}


.features p:hover a {
    color: #ffffff;
}


.myhome:hover {
    color: #29aae3;
    cursor: pointer;
}

.myhomeitem a:hover {
    color: #29aae3 ;
}
.followus img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(116deg) brightness(109%) contrast(109%) !important;
    opacity: 0.7;

    
}

.followus img:hover {
    opacity: 1;
    filter: none !important;

}



@media (max-width: 768px) {
    .sliderOfClients {
        width: 300px;
        height: 50px;
        display: flex;
        overflow-x: auto;

    }

    .slideOfClients {
        width: 200px;
        flex-shrink: 0;
        height: 100%;
    }
}


@media (max-width: 820px) {
    .sliderOfClients {
        width: 90%;
        height: 50px;
        display: flex;
        overflow-x: auto;

    }

    .slideOfClients {
        width: 200px;
        flex-shrink: 0;
        height: 100%;
    }
}



/* Unit page and Unit galary */


@media (min-width: 900px) { 
    .carousel.carousel-slider {
        height: 550px !important;
        border-radius: 2% !important;
 }


}
@media (max-width: 768px) {
    .galaryOfUnits ul{
        display: none;
    }

    
}


.galaryOfUnits ul li {
    border-radius: 20%;
 
}

ul > .thumb {
    height: 60px !important;
}

.galaryOfUnits  ul  li > img {
    border-radius: 20%;
    object-fit: cover;
    height: 100%;

}




.carousel .thumb.selected, .carousel .thumb:hover {
    border: 3px solid #29AAE3 !important;
}





/* popup */

.swal-button-container > .swal-button {
    background-color: #45b6ca !important;
}




/* Contact Us */



@media (max-width: 768px) {
    .contactUsResponsive {
        display: flex;
        flex-direction: column !important;
    }

    .contactUsResponsive > div {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
     
       
    }
}












/* blog page */

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{


border :none;


}

.nav-tabs .nav-link{
    margin-bottom: 0;

    border: 0px solid transparent !important; 
     border-top-left-radius: none !important; 
     border-top-right-radius: none !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #45b6ca !important;
    background-color: transparent; 
    border-bottom:2px solid #45b6ca ;
}