@font-face {
  font-family: Jost;
  src: url(./Assets/fonts/Jost/Jost-Italic-VariableFont_wght.ttf);
  src: url(./Assets/fonts/Jost/Jost-VariableFont_wght.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./Assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
  src: url(./Assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Changa;
  src: url(./Assets/fonts/Changa/Changa-VariableFont_wght.ttf);
}
  /* sitting class of small caps */
.small-caps{
  font-variant-caps: all-small-caps;
}

.App {
  text-align: center;
  font-family: Jost;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero-bg{
  background-image: 
  linear-gradient(180deg, rgba(41,170,227,0.6) 0%, rgba(0,0,0,0.6) 100%), 
   url('./Assets/imgs/HeroBackground.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  
}
.scrolledTop{
  background-color: white !important;

}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
  .filter-white{
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(-90deg);
  }

#demo{
  font-family: Changa ;
  letter-spacing: 5px !important;
}

@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.cursor::after {
  content: "|";
  font-size: 1.1em;
  color: #0c303f;
  animation: blink infinite alternate 0.4s;
}


.hovered-card{
  padding-bottom: 1.5rem !important;
  -webkit-box-shadow: 5px 5px 5px 0px #0000006e, inset 4px 4px 15px 0px #0000006e, 3px 6px 9px -1px rgba(0, 0, 0, 0.616); 
  box-shadow: 5px 5px 5px 0px #0000006e, inset 4px 4px 15px 0px #0000006e, 3px 6px 9px -1px rgba(0, 0, 0, 0.603);
  transition: 0.2s ease-in-out;
}

.hover-invert{
  
  opacity: 0.4;
  transition: 0.2s ease-in-out;

}